{% extends 'base.html.twig' %}

{% block title %}Documents{% endblock %}

{% block body %}
    <br>
    <div id="Body">
        <div class="container">
            <center>
                <h1 id="titre">Documents</h1><br>
            </center>
        </div>
        <center>
        <div class="col-lg-10">
            <div class="row">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <tbody>
                            <tr class="align-middle text-center">
                                <th class="text-nowrap" id="slide">Référence du materiel</th>
                                <th class="text-nowrap" id="slide">Nom du materiel </th>
                                <th class="text-nowrap" id="slide">Action </th>
                            </tr>            
                            {% for Mat in showMat %}
                                <tr class="align-middle text-center">
                                    <td class="text-nowrap" >{{Mat.ref_mat}}</td>
                                    <td class="text-nowrap" id="slide">{{ Mat.nom_mat }}</td>
                                    <td> 
                                        <a id="text" href="{{ path('materiel.edit', {id: Mat.id}) }}">Modifier</a>
                                        <form method="post" action="{{ path('materiel.delete', {id: Mat.id}) }}" style="display: inline-block">
                                            <input type="hidden" name="_method" value="DELETE">
                                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ Mat.id) }}">
                                            <button class="btn btn-danger"> supprimer<span class="bi bi-trash-fill"></span></button>
                                        </form>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>                            
                    </table>
                </div>
            </div>
        </div>
        </center>
    </div>
{% endblock %}