{% extends 'base.html.twig' %}

{% block title %}Documents{% endblock %}

{% block body %}
    <br>
    <div id="Body">
        <div class="container">
            <center>
                <h1 id="titre">Documents</h1><br>
            </center>
        </div>
        <center>
            <div class="col-lg-10">
                <div class="row">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <tbody>
                                <tr class="align-middle text-center">
                                    <th class="text-nowrap" id="slide">Référence du document</th>
                                    <th class="text-nowrap" id="slide">Titre </th>
                                    <th class="text-nowrap" id="slide">Date de fin de validation</th>
                                    <th class="text-nowrap" id="slide">Action </th>
                                </tr>            
                                {% for Doc in showDoc %}
                                    <tr class="align-middle text-center">
                                        <td class="text-nowrap" >{{Doc.ref_doc}}</td>
                                        <td class="text-nowrap" id="slide">{{ Doc.Titre }}</td>
                                        <td class="text-nowrap" id="slide">{{ Doc.date_fin_valid|date('Y-m-d') }}</td>
                                        <td> 
                                            <form method="post" action="{{ path('document.edit', {id: Doc.id}) }}" style="display: inline-block">
                                                <input type="hidden" name="_method" value="edit">
                                                <button class="btn btn-success"> Modifier<span class="bi bi-trash-fill"></span></button>
                                            </form>
                                            <form method="post" action="{{ path('document.delete', {id: Doc.id}) }}" style="display: inline-block" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer le document : \'{{ Doc.ref_doc }}\' ?')">
                                                <input type="hidden" name="_method" value="DELETE">
                                                <button class="btn btn-danger"> supprimer<span class="bi bi-trash-fill"></span></button>
                                            </form>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>                            
                        </table>
                    </div>
                </div>
            </div>
        </center>
    </div>
{% endblock %}