{% extends 'base.html.twig' %}

{% block title %}Document{% endblock %}

{% form_theme form_document 'bootstrap_4_layout.html.twig' %}

{% block body %}
<br>
<div id="text">
    <div class="container">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4"><h1>Document</h1></div>
        </div>
    </div>
    <div class="container">
        <div class="row" >
            <div class="col-4" id="colonne-1"></div>
            <div class="col 4" id="colonne-1"><br><h3>ajouter :</h3></div>
        </div>
        <div class="row" >
            <div class="col-4" id="colonne-1"></div>
            <div class="col-4" id="colonne-1" >
                {{form_start(form_document)}}
                {{form_row(form_document.mat)}}
                {{form_row(form_document.titre)}}
                {{form_row(form_document.ref_doc, {'attr' : {'placeholder' : "Saisir le nom du materiel"}})}}
                {{form_row(form_document.date_fin_valid, {'attr' : {'placeholder' : "Saisir le nom du materiel"}})}}
                {{form_row(form_document.date_doc, {'attr' : {'placeholder' : "Saisir le nom du materiel"}})}}
                
                
                <button  type="submit" class="btn" id='btn'>Enregistrer</button>
                {{form_end(form_document)}}
            </div>
        </div>
    </div> 
</div>
{% endblock %}